html,body{
    margin: 0;
    height: 100%;
    background-color: rgb(196, 196, 196);
}

.headerUL li{
    display: inline;
    text-align: center;
    padding: 0 10px;
}

.headerUL li a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

.headerUL li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.headerUL{
    list-style-type: none;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto repeat(5, 1fr); 
    gap: 8px;
    background-color: #92e9f5;
    padding: 8px;
    border-radius: 8px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.25),
        0 1px 2px rgba(0, 0, 0, 0.1);
}

.header1 {
    font-family: 'M PLUS 2 Variable', sans-serif;
    grid-column: span 6;
    grid-row: span 1;
    background-color: rgba(161, 156, 157, 0.5);
    border-radius: 8px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.25),
        0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0; 
    z-index: 1000; 
    height: 100px;
}


.div1 {
    font-family: 'M PLUS 2 Variable', sans-serif;
    grid-column: span 2;
    grid-row: span 1;
    background-color:rgb(165, 159, 159);
    border-radius: 8px;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.div2 {
    font-family: 'M PLUS 2 Variable', sans-serif;
    grid-column: span 2;
    grid-row: span 1;
    background-color: rgb(206, 196, 196);
    border-radius: 8px;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div3 {
    font-family: 'M PLUS 2 Variable', sans-serif;
    grid-column: span 2;
    grid-row: span 1;
    background-color: rgb(228, 218, 218);
    border-radius: 8px;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div4 {
    font-family: 'M PLUS 2 Variable', sans-serif;
    grid-column: span 6;
    grid-row: span 1;
    background-color: rgb(96, 187, 223); 
    border-radius: 8px;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div1text{
    text-align: center;
    margin: 15px;
}

.div2text{
    text-align: center;
    margin: 10px;
}

.div3text{
    text-align: center;
    margin: 16px;
}

.div4text{
    text-align: center;
    margin: 10px;
}

.footertext{
    text-align: center;
    margin: 10px;
}

.div1 > p a,
.div2 > p a,
.div3 > p a,
.div4 > p a {
    font-size: 20px; 
    font-weight: bold; 
    text-align: center;
    margin: 5;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black; 
    padding-bottom: 1px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.div1 > p a:hover,
.div2 > p a:hover,
.div3 > p a:hover,
.div4 > p a:hover {
    font-size: 21px;
    color: rgb(90, 90, 90);
}

.footer1 {
    font-family: 'M PLUS 2 Variable', sans-serif;
    grid-column: span 6;
    grid-row: span 1;
    background-color: rgb(120, 185, 223);
    border-radius: 8px;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.image-section {
    grid-column: span 6; 
    grid-row: span 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
}

.image-section img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); 
}